body { background-color:#efefef;}
code {font-size:14px;}
h1 {
	display: block;
    margin: 0 auto;
    text-align: center;
}
#bluegold-container { 
	background-color:#efefef;
	padding:15px;
}
.blue {color:#0101DF;}
.gold {color:#FFD700;}